{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" type="text/css" media="screen" />
<style media="screen">
	#drop-zone-form {
		border-radius: 4px;
		border: 1px solid #ccc;
		background: #eee;
		padding: 25px;
		clear: both;
		/*width: 100%;*/
		text-align: center;
		margin-bottom: 2px;
		position: relative;
		overflow: hidden;
	}

	#drop-zone-form a.btn {
		font-size: 14px;
		font-weight: bold;
	}

	#drop-zone-form input {
		position: absolute;
		left: -1000px;
	}

	/* hide base64 fields */
	.form-row.image_base64 {
		display: none !important;
	}

</style>
{% endblock %}

{% block inline_field_sets %}{{ block.super }}

<script>
(function($) {
	$(document).ready(function($) {

		var elements = [$('#media-group')];

		$(elements).each(function() {
			var $container          = $(this);
			var $form               = $container.find('.grp-dynamic-form');
			var $a                  = $container.find('a.grp-add-handler').not('.grp-icon');
			var $multipleUploadForm = createMultipleUploadForm();

			// appen multiople
			$multipleUploadForm.appendTo($container);

			if (window.File && window.FileList && window.FileReader) {
					InitFileUpload($multipleUploadForm, $container, $a);
			}
		});

		// call initialization file

		function createMultipleUploadForm() {
			var $form = $("<div/>")
				.addClass('dropzone')
				.html('<form action="" id="drop-zone-form"><input type="file" id="fileselect" accept="image/jpg" name="fileselect[]" multiple="multiple" /><a href="#" id="filedrag" class="btn"><i class="ion-upload"></i> Upload multiple images</a></form>');

			return $form;
		}

		 // initialize
		function InitFileUpload($form, $container, $a) {

			var fileselect = $form.find("#fileselect"),
					filedrag = $form.find("#filedrag");

				// file select
				fileselect.on("change", function(e) {
						FileSelectHandler(e, $container, $a);
				});

				filedrag.on('click', function(event) {
					event.preventDefault();
					/* Act on the event */
					fileselect.trigger('click');
				});

				// is XHR2 available?
				var xhr = new XMLHttpRequest();
				if (xhr.upload) {

						filedrag.on('dragover', function(event) {
								event.preventDefault();
								/* Act on the event */
								$(this).css('border', '1px solid red');
						});

						// file drop
						filedrag.on("drop", function(event) {
								event.stopPropagation();
								event.preventDefault();
								FileSelectHandler(event, $container, $a);
						});
				}

		}

		function FileSelectHandler(e, $container, $a) {
				var files = $(e.target).get(0).files;

				// console.log(files, $triggerElement);

				// process all File objects
				for (var i = 0, f; f = files[i]; i++) {
						(function(file) {
								var name = file.name;
								var reader = new FileReader();
								reader.onload = function(e) {
										// find inline which create a new inline
										$a.trigger('click');

										var $new = $container.find('.inline-related.grp-dynamic-form:last');
										var title = $new.find('input[name*="title"]');
										var textarea = $new.find('textarea[name*="image_base64"]');
										var image_filename = $new.find('input[name*="image_filename"]');

										// console.log($new, name, title);

										// console.log(reader);
										textarea.val(e.target.result);
										title.val(name);
										image_filename.val(name);
								}
								reader.readAsDataURL(file);
						})(files[i]);
				}
		}

	});
})(grp.jQuery);
</script>
{% endblock inline_field_sets %}
