{% load i18n %}
{% load thumbnail %}
{% load extra_string_tags %}

{% if page.subsections.all|length > 0 %}
<div class="subsections">
	<ul class="{{ page.slug }} unstyled">
	{% for section in page.subsections.all %}
		<li
			id="subsection-{{ forloop.counter }}"
			data-id="subsection-{{ section.id }}"
			class="{% cycle "odd" "even" %}
			{% if forloop.last %} last{% endif %}
			{% if section.image %} with-figure{% endif %}
			{% if collapsable %} collapsable{% endif %}"
		>
			<h3 class="uppercase">
				{% if section.image %}
					{# do not scale PNG images #}
					{% if section.image.url|endswith:"png" %}
						<img src="{{ section.image.url }}" alt="{{ section.title }}" class="icon" />
					{% else %}
						{% thumbnail section.image "100" upscale=True format="JPEG" as image %}
							<img src="{{ image.url }}" alt="{{ section.title }}" class="figure" />
						{% endthumbnail %}
					{% endif %}
				{% endif %}
				{% if collapsable %}
					<a href="#">{{ section.title }}</a>
				{% else %}
					{{ section.title }}
				{% endif %}
			</h3>
			<div class="content">
				{{ section.text|safe }}
			</div>
			<hr>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
